docker pull ghcr.io/puppeteer/puppeteer:22.8.2

env puppeteer_skip_chromium_download=true \
	puppeteer_executable_path=/usr/bin/google-chrome-stable
	
workdir /usr/src/app

copy package*.json ./
run npm ci
copy . .
cmd [ "node", "index.js" ]